USE [master]
GO
-- Xóa database nếu tồn tại
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'VHomeClean')
BEGIN
    ALTER DATABASE VHomeClean SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE VHomeClean;
END
GO
/****** Object:  Database [VHomeClean]    Script Date: 8/2/2023 12:33:54 AM ******/
CREATE DATABASE [VHomeClean]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VHomeClean', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VHomeClean.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VHomeClean_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VHomeClean_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VHomeClean].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VHomeClean]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Gender] [nvarchar](20) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Status] [bit] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Salary] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[CommentID] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[SubTitle] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AccountID] [nvarchar](20) NOT NULL,
	[BlogCateID] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[Image] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCate]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCate](
	[BlogCateID] [int] NOT NULL,
	[CateName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogCateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogRating]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogRating](
	[AccountID] [nvarchar](20) NOT NULL,
	[BlogID] [int] NOT NULL,
	[Rating] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [nvarchar](20) NOT NULL,
	[BookingStatus] [nvarchar](100) NOT NULL,
	[StaffID] [nvarchar](20) NULL,
	[ServiceID] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetail]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetail](
	[BookingDetail_ID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[TotalPrice] [money] NULL,
	[BookingDate] [datetime] NOT NULL,
	[BookingAddress] [nvarchar](255) NOT NULL,
	[PaymentMethod] [nvarchar](255) NOT NULL,
	[TypeOfService] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingDetail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CateService]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CateService](
	[CateID] [int] NOT NULL,
	[CateName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Time] [datetime] NOT NULL,
	[AccountID] [nvarchar](20) NOT NULL,
	[BlogID] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complain]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complain](
	[ComplainID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Complain_Text] [nvarchar](max) NOT NULL,
	[AccountID] [nvarchar](20) NOT NULL,
	[BookingID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComplainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Feedback_Text] [nvarchar](max) NOT NULL,
	[Rating] [float] NOT NULL,
	[AccountID] [nvarchar](20) NOT NULL,
	[BookingID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [nvarchar](20) NOT NULL,
	[BookingID] [int] NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[Create_at] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[TypeNoti] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 8/2/2023 12:33:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [nvarchar](20) NOT NULL,
	[ServiceName] [nvarchar](255) NOT NULL,
	[Price] [money] NOT NULL,
	[ServiceDetail] [nvarchar](max) NOT NULL,
	[CateID] [int] NOT NULL,
	[Image] [nvarchar](255) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountID], [Email], [Password], [FullName], [Address], [Phone], [RoleID], [Gender], [DateOfBirth], [Status], [Image], [Salary]) VALUES (N'AC0001', N'hieublockchain2002@gmail.com', N'1', N'Đoàn Thanh Hiếu', N'Bình Dương', N'0987654321', 1, N'Male', CAST(N'2000-02-12' AS Date), 1, N'img/adminHieu.jpg', 6000888.0000)
INSERT [dbo].[Account] ([AccountID], [Email], [Password], [FullName], [Address], [Phone], [RoleID], [Gender], [DateOfBirth], [Status], [Image], [Salary]) VALUES (N'AC0002', N'trungkiennguyen0310@gmail.com', N'Kienmundo1!', N'Nguyễn Trung Kiên', N'32/3, Gia Tân 1, Thống Nhất, Đồng Nai', N'0974102437', 1, N'Male', CAST(N'2002-10-03' AS Date), 1, N'img/adminKien.jpg', 0.0000)
INSERT [dbo].[Account] ([AccountID], [Email], [Password], [FullName], [Address], [Phone], [RoleID], [Gender], [DateOfBirth], [Status], [Image], [Salary]) VALUES (N'AC0003', N'staff1@gmail.com', N'1', N'Adela JohnSon', N'Lê Văn Việt', N'0987654321', 6, N'Female', CAST(N'2002-12-03' AS Date), 1, N'img/cleanner1.jpg', 0.0000)
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
INSERT [dbo].[BlogCate] ([BlogCateID], [CateName]) VALUES (1, N'Mẹo dọn dẹp')
INSERT [dbo].[BlogCate] ([BlogCateID], [CateName]) VALUES (2, N'Mẹo sửa chữa')
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [AccountID], [BookingStatus], [StaffID], [ServiceID]) VALUES (1, N'AC0006', N'Hoàn thành', N'AC0003', N'SE03')
INSERT [dbo].[Booking] ([BookingID], [AccountID], [BookingStatus], [StaffID], [ServiceID]) VALUES (2, N'AC0006', N'Hoàn thành', N'AC0004', N'SE02')
INSERT [dbo].[Booking] ([BookingID], [AccountID], [BookingStatus], [StaffID], [ServiceID]) VALUES (3, N'AC0006', N'Hoàn thành', N'AC0004', N'SE02')
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingDetail] ON 

INSERT [dbo].[BookingDetail] ([BookingDetail_ID], [BookingID], [TotalPrice], [BookingDate], [BookingAddress], [PaymentMethod], [TypeOfService], [Message]) VALUES (24, 24, 100000.0000, CAST(N'2023-08-02T15:47:00.000' AS DateTime), N'S02.03-0123 The Sapphire 1 || Vinhomes Smart City - Hà Nội', N'Chuyển khoản', N'Dịch vụ 1 lần', N'Chuyển khoản-1')
INSERT [dbo].[BookingDetail] ([BookingDetail_ID], [BookingID], [TotalPrice], [BookingDate], [BookingAddress], [PaymentMethod], [TypeOfService], [Message]) VALUES (25, 25, 200000.0000, CAST(N'2023-08-03T15:48:00.000' AS DateTime), N'S02.03-0123 The Sapphire 1 || Vinhomes Smart City - Hà Nội', N'Tiền mặt', N'Dịch vụ 1 lần', N'Tiền mặt-1')
INSERT [dbo].[BookingDetail] ([BookingDetail_ID], [BookingID], [TotalPrice], [BookingDate], [BookingAddress], [PaymentMethod], [TypeOfService], [Message]) VALUES (26, 26, 100000.0000, CAST(N'2023-08-02T15:49:00.000' AS DateTime), N'S01.01-1022 The Sapphire 1 || Vinhomes Smart City - Hà Nội', N'Chuyển khoản', N'Dịch vụ 1 lần', N'Chuyển khoản-1')
SET IDENTITY_INSERT [dbo].[BookingDetail] OFF
GO
INSERT [dbo].[CateService] ([CateID], [CateName]) VALUES (1, N'Dịch vụ vệ sinh')
INSERT [dbo].[CateService] ([CateID], [CateName]) VALUES (2, N'Dịch vụ sửa chữa điện')
INSERT [dbo].[CateService] ([CateID], [CateName]) VALUES (3, N'Dịch vụ sửa chữa nước')
GO
SET IDENTITY_INSERT [dbo].[Complain] ON 

INSERT [dbo].[Complain] ([ComplainID], [Date], [Complain_Text], [AccountID], [BookingID]) VALUES (1, CAST(N'2023-08-01T15:11:53.087' AS DateTime), N'Dịch vụ ko ổn', N'AC0006', 26)
SET IDENTITY_INSERT [dbo].[Complain] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [Date], [Feedback_Text], [Rating], [AccountID], [BookingID]) VALUES (1, CAST(N'2023-06-28T11:47:18.540' AS DateTime), N'Tôi rất ấn tượng với dịch vụ dọn dẹp! Căn hộ của tôi chưa bao giờ sáng sủa như vậy trước đây. Rất đáng giới thiệu!', 2.6, N'AC0006', 1)
INSERT [dbo].[Feedback] ([FeedbackID], [Date], [Feedback_Text], [Rating], [AccountID], [BookingID]) VALUES (2, CAST(N'2023-06-28T12:12:20.373' AS DateTime), N'Dịch vụ sửa chữa rất tốt! Kỹ thuật viên rất giỏi và đã sửa chữa thiết bị của tôi nhanh chóng. Cảm ơn vì dịch vụ xuất sắc', 4.5, N'AC0006', 2)
INSERT [dbo].[Feedback] ([FeedbackID], [Date], [Feedback_Text], [Rating], [AccountID], [BookingID]) VALUES (3, CAST(N'2023-07-11T13:38:27.240' AS DateTime), N'Nhân viên dọn dẹp làm việc rất cẩn thận và chuyên nghiệp. Chú ý từng chi tiết và để lại ngôi nhà của tôi sạch sẽ không tì vết. Tôi rất hài lòng với kết quả!', 3.5, N'AC0007', 5)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationID], [AccountID], [BookingID], [Detail], [Create_at], [Status], [TypeNoti]) VALUES (1, N'AC0006', 1, N'Nguyễn Hà Mai mới đặt lịch dịch vụ mới cho căn hộ S1.07 ở khu vực Vinhomes Golden River - TP. Hồ Chí Minh vào ngày 2023-06-28', CAST(N'2023-06-27T09:49:29.857' AS DateTime), 1, N'Admin')
INSERT [dbo].[Notification] ([NotificationID], [AccountID], [BookingID], [Detail], [Create_at], [Status], [TypeNoti]) VALUES (2, N'AC0006', 1, N'Nhân viên Adela JohnSon sẽ đảm nhận cho dịch vụ Vệ sinh sofa, rèm, nệm, kính của bạn vào thời gian 2023-06-28 00:49:00.0', CAST(N'2023-06-27T09:50:02.893' AS DateTime), 0, N'User')
INSERT [dbo].[Notification] ([NotificationID], [AccountID], [BookingID], [Detail], [Create_at], [Status], [TypeNoti]) VALUES (3, N'AC0003', 1, N'Bạn vừa được giao một đơn dịch vụ mới từ Quản lý Nguyễn Trung Kiên với mã hàng hóa là 1', CAST(N'2023-06-27T09:50:02.903' AS DateTime), 0, N'Staff')
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
INSERT [dbo].[RoleAccount] ([RoleID], [RoleName]) VALUES (1, N'ADMIN')
INSERT [dbo].[RoleAccount] ([RoleID], [RoleName]) VALUES (2, N'STAFF sửa chữa điện')
INSERT [dbo].[RoleAccount] ([RoleID], [RoleName]) VALUES (3, N'MANAGER')
GO
INSERT [dbo].[Service] ([ServiceID], [ServiceName], [Price], [ServiceDetail], [CateID], [Image], [Status]) VALUES (N'SE03', N'Vệ sinh sofa, rèm, nệm, kính', 300000.0000, N'Dịch vụ vệ sinh sofa, rèm cửa, nệm và kính đảm bảo sự sạch sẽ và tươi mới cho các bề mặt và vật liệu trong không gian sống của bạn. Đội ngũ người giúp việc sẽ làm sạch sofa, làm sạch và làm mới rèm cửa, làm sạch nệm và làm sáng kính. Qua đó, bạn sẽ có các bề mặt sạch sẽ, không bám bụi, vết bẩn và mùi không mong muốn, tạo nên môi trường sống trong lành và thoải mái.', 1, N'img/serviceVeSinhSofa.jpg', 1)
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [Create_at]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleAccount] ([RoleID])
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD FOREIGN KEY([BlogCateID])
REFERENCES [dbo].[BlogCate] ([BlogCateID])
GO
ALTER TABLE [dbo].[BlogRating]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[BlogRating]  WITH CHECK ADD FOREIGN KEY([BlogID])
REFERENCES [dbo].[Blog] ([BlogID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([BlogID])
REFERENCES [dbo].[Blog] ([BlogID])
GO
ALTER TABLE [dbo].[Complain]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Complain]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD FOREIGN KEY([CateID])
REFERENCES [dbo].[CateService] ([CateID])
GO
USE [master]
GO
